.Rproj.user
.Rhistory
.RData
.Ruserdata
omnipath_metabo_case1/omnipath_metabo_case1.Rproj
omnipath_metabo_case1/.Rhistory
omnipath_metabo_case1/.RData
omnipath_metabo_case1/.Ruserdata
omnipath_metabo_case1/data/cellosaurus.txt
omnipath_metabo_case1/data/cellosaurus_entry_lookup.RData
.env
